/*********************** la navigation  ************************/
.slide_carousel {
  margin-top: 9%;
  height: 100%;
  width: 101%;
  display: block;
  text-align: center;
  align-items: center; }

.carte {
  height: 69%;
  width: auto;
  margin-top: 37px;
  margin-left: 12px; }

.carousel {
  width: 102%; }

.image_slide1 {
  height: 430px; }

@media only screen and (max-width: 990px) {
  .product-grid6 {
    margin-bottom: 30px; } }

.caroussel_describe {
  display: inline-flex;
  margin-top: 9%;
  height: 400px; }

#description_text {
  text-align: center; }

.imageInsideCaroussel {
  width: 71%;
  display: block;
  height: 100%;
  margin-left: 58px; }

.small_form, .elements_options {
  margin-top: 20px;
  width: 100%; }

.in_small_form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.option_elements_single {
  width: auto;
  margin-left: 1px;
  text-align: center; }

@keyframes charging {
  10% {
    width: 10%; }
  30% {
    width: 30%; }
  50% {
    width: 50%; }
  70% {
    width: 70%; }
  100% {
    width: 100%; } }

.notification-connexion {
  background-color: #e6dfdf;
  margin-top: 30px;
  margin-left: 30px;
  padding: 20px;
  text-align: center;
  color: #66a552;
  width: 40%; }

body {
  background-repeat: repeat;
  background-position: top;
  background-size: cover;
  position: relative; }

.container, .container-fluid {
  margin-top: 15px; }

.form-control {
  width: 70%; }

nav {
  width: 101%; }
  nav .navbar-brand {
    margin-left: 10px; }

.connect_div {
  justify-content: space-around; }

.map_div {
  height: 400px;
  width: 101%; }

.slogan_site {
  margin-top: 15px;
  height: 100%;
  width: 100%;
  margin-top: 9%; }
  .slogan_site_texte {
    text-align: center;
    margin-top: 20px; }

/* menu hommes femmes */
.nav-item {
  border: 2px solid black;
  border-color: black;
  border-bottom: none;
  border-top: none;
  padding: 0 3px; }

.product-grid6,
.product-grid6 .product-image6 {
  overflow: hidden; }

.product-grid6 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  transition: all .5s ease 0s; }
  .product-grid6 .price {
    font-size: 18px;
    font-weight: 600;
    color: #2e86de; }
    .product-grid6 .price span {
      color: #999;
      font-size: 15px;
      font-weight: 400;
      text-decoration: line-through;
      margin-left: 7px;
      display: inline-block; }
  .product-grid6 .social {
    background-color: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: 1;
    transition: all .5s ease 0s; }
    .product-grid6 .social li {
      display: inline-block; }
      .product-grid6 .social li a {
        color: #909090;
        font-size: 16px;
        line-height: 45px;
        text-align: center;
        height: 45px;
        width: 45px;
        margin: 0 7px;
        border: 1px solid #909090;
        border-radius: 50px;
        display: block;
        position: relative;
        transition: all .3s ease-in-out; }
        .product-grid6 .social li a:hover {
          color: white;
          background-color: #2e86de;
          width: 80px; }
  .product-grid6 .title {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s; }
    .product-grid6 .title a {
      color: black;
      /* color: #000 */ }
      .product-grid6 .title a:hover {
        color: #2e86de; }
  .product-grid6 .product-content {
    padding: 12px 12px 15px;
    transition: all .5s ease 0s; }
  .product-grid6:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
    .product-grid6:hover .social {
      opacity: 1;
      bottom: 20px; }
    .product-grid6:hover .product-image6 img {
      transform: scale(1.1); }
    .product-grid6:hover .product-content {
      opacity: 0; }
  .product-grid6 .product-image6 img {
    width: 100%;
    height: auto;
    transition: all .5s ease 0s; }
  .product-grid6 .product-image6 a {
    display: block; }

.product-grid6 .social li a:after,
.product-grid6 .social li a:before {
  content: attr(data-tip);
  color: white;
  background-color: #2e86de;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 1px 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px; }

.product-grid6 .social li a:after {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -20px;
  z-index: -1; }

.product-grid6 .social li a:hover:after,
.product-grid6 .social li a:hover:before {
  opacity: 1; }

.btn-outline-primary a:hover {
  color: white;
  text-decoration: none; }

.bg-light {
  background-color: white; }

#loading, #loading_single {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("https://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center; }

/* all inputs formulaire  page connexion */
.formulaire {
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 0; }
  .formulaire .allInputs {
    height: 300px;
    width: 50%;
    text-align: center;
    margin-left: 28%;
    margin-top: -30px; }

.connect_list {
  display: inline-flex;
  list-style: none;
  text-emphasis: center;
  margin-left: 60px; }
  .connect_list li {
    cursor: pointer;
    text-transform: uppercase; }

.title_connect {
  text-align: center;
  margin-top: 30px; }
  .title_connect li {
    margin: 40px 50px;
    font-weight: bolder;
    color: #d4d0d0; }

#fleche {
  text-align: center;
  display: flex;
  justify-content: center; }

.pointeur {
  left: 20px;
  margin-right: -3%;
  margin-top: 5px;
  color: black;
  z-index: 10; }

.firstInput {
  width: 100%;
  border-color: black;
  border-width: 2px;
  margin-top: 1px; }

#inscription {
  color: green; }

.inputButton {
  width: 100%;
  border-color: black;
  border-width: 2px;
  margin-top: 11px; }

.validBtn {
  margin-top: 12px;
  width: 65%; }

.mdp_ {
  display: none; }

/* validation control des erreurs dans le formulaire */
.border-red {
  border-color: red; }

.error {
  color: red;
  text-align: start; }

.border-green {
  border-color: green; }

/* progress bar */
.progress-bar {
  width: 100%;
  height: 4px;
  position: relative;
  background: #47d772; }
  .progress-bar::before {
    position: absolute;
    content: "";
    width: 0;
    height: 4px;
    top: 0;
    left: 0;
    background: orange;
    animation: charging 2s infinite;
    -webkit-animation: charging 2s infinite;
    -moz-animation: charging 2s infinite; }

/***********************************  page panier ****************************************** */
.liste_articles {
  /* background-color: turquoise; */
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.recap {
  background-color: white;
  height: 400px;
  width: 50%;
  border-radius: 5px; }

.image_miniature {
  width: 24%;
  height: 24%;
  /* margin-right: 12px; */ }
  .image_miniature img {
    height: 200px;
    width: 200px;
    margin: 20px; }

.panier_title {
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
  animation: zoomIn;
  animation-duration: 2s; }

.panier_liste {
  margin-top: 10%; }

.options_panier {
  /* background-color: gray; */
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 20px; }

hr {
  font-weight: 3px;
  color: white; }

.trash {
  color: red;
  cursor: pointer; }

.modifier {
  cursor: pointer;
  color: mediumturquoise; }

.paiements {
  display: block;
  flex-wrap: wrap; }

.paiement_btn {
  width: 80%;
  margin: 5px 2px; }

footer {
  margin-top: 20px; }

.the_footer {
  background-color: #E3F1FD;
  display: flex;
  height: 200px;
  justify-content: space-around;
  margin-top: 15px;
  position: relative; }
  .the_footer .first_Foot, .the_footer .second_Foot {
    height: 90px;
    width: 90px; }
  .the_footer .third_Foot {
    height: 100px;
    width: 200px; }

.in_foot {
  display: grid;
  text-align: center;
  align-self: center;
  height: auto;
  margin-top: -50px; }
  .in_foot a {
    padding-top: 2px;
    color: black;
    text-decoration: none; }

footer::after {
  margin-top: 80%; }

/* profil page  de single product */
.profil_button, .pannier_button {
  text-transform: uppercase; }

.pannier_button {
  margin-right: 10px; }

.social_medias {
  position: relative;
  margin-top: 6%;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px; }
  .social_medias .whatsapp {
    color: green; }
    .social_medias .whatsapp:hover {
      color: green; }

.insta {
  color: RGB(225, 48, 108); }
  .insta:hover {
    color: RGB(225, 48, 108); }

.navbar {
  position: inherit;
  top: 2px; }
  .navbar .femmes {
    border-left: none;
    border-right: none;
    margin-left: 5px; }
  .navbar .enfants {
    border-right: none;
    border-left: none; }
  .navbar .hommes {
    border-left: none;
    margin-left: 5px; }
    .navbar .hommes::after {
      border: none; }
